* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  background: #ffe4e4;
}

.navbar img {
  width: 60px;
}

.navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navbar .menu a {
  color: #7b5555;
  transition: 0.7s;
}

.navbar .menu a:hover{
    color: #ff523b;
}
.navbar .hamBurger {
  display: none;
}

@media (max-width: 700px) {
  .navbar .menu {
    display: none;
  }
  .navbar .hamBurger {
    display: block;
  }

  .navbar .hamBurger .line {
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
  }
}

/* HERO SECTION */

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(#fff, #ffd6d6);
  padding: 200px 0;
}

.hero .left-part {
    width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  padding:0 50px; 
}
.hero .responsiveImg{
  display: none;
}

.hero .right-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.hero .right-part img{
    width: 100%;
}

.hero .left-part h1 {
  font-size: 45px;
  line-height: 55px;
}

.hero .left-part p {
  font-size: 16px;
}

.hero .left-part .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero .left-part .buttons #shop_now,
#off {
  padding: 10px 25px;
  border-radius: 30px;
}

.hero .left-part .buttons #shop_now {
  background: #ff523b;
  color: whitesmoke;
  transition: 0.7s ease-in-out;
}
.hero .left-part .buttons #shop_now:hover {
  background: none;
  color: black;
  border: 1px solid #ff523b;
}

.hero .left-part .buttons #off {
  border: 1px solid #ff523b;
  transition: 0.7s ease-in-out;
}
.hero .left-part .buttons #off:hover {
  background: #ff523b;
  color: whitesmoke;
}

.hero .right-part img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px 2px #bcbaba;
}

@media (max-width: 1450px) {
  .hero {
    display: flex;
    gap: 100px;
    padding-left: 200px;
  }
  .hero .left-part h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 1365px) {
  .hero {
    display: flex;
    gap: 50px;
    padding-left: 130px;
  }
  .hero .left-part h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

@media (max-width: 990px) {
  .hero {
    display: flex;
    gap: 50px;
    padding-left: 90px;
  }
  .hero .left-part h1 {
    font-size: 27px;
    line-height: 40px;
  }
}

@media (max-width: 850px) {
  .hero {
    display: flex;
    gap: 50px;
    padding-left: 50px;
  }
  .hero .left-part h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 770px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 50px;
  }

  .hero .left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    width: 100%;
  }
  .hero .left-part h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .hero .responsiveImg{
    display: block;
  }
  .hero .responsiveImg img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px 2px #bcbaba;

  }
  .hero .right-part {
    display: none;
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    
  }
  .hero .right-part img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px 2px #bcbaba;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}

@media(max-width:530px){
    .hero .left-part h1{
        font-size: 20px;
        line-height: 28px;
    }
    .hero .left-part p{
        font-size: 12px;
    }
    .hero .left-part .buttons #shop_now,
#off {
  font-size: 11px;
}
}

/* WINTER SALE PAGE-2 */

.winterSale {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 200px 0 200px 100px;
}
.winterSale .left-part {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winterSale .left-part img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px 2px #bcbaba;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winterSale .right-part .responsive{
    display: none;
}

.winterSale .right-part {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.winterSale .right-part h2 span {
  display: block;
}
.winterSale .right-part h2 {
  font-size: 65px;
  line-height: 70px;
  letter-spacing: 5px;
}

.winterSale .right-part h2::first-letter,
span::first-letter {
  font-size: 80px;
}
.winterSale .right-part p {
  font-size: 17px;
}

.winterSale .right-part a {
  background: #ff523b;
  color: whitesmoke;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.7s ease-in-out;
}

.winterSale .right-part a:hover {
  background: none;
  color: black;
  border: 1px solid #ff523b;
}

@media (max-width: 1350px) {
  .winterSale .right-part h2 {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 5px;
  }
  .winterSale .right-part h2::first-letter,
  span::first-letter {
    font-size: 70px;
  }
}

@media (max-width: 1265px) {
    .winterSale .right-part {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
  .winterSale .right-part h2 {
    font-size: 55px;
    line-height: 60px;
    letter-spacing: 4px;
  }
  .winterSale .right-part h2::first-letter,
  span::first-letter {
    font-size: 65px;
  }
}

@media (max-width: 1150px) {
  .winterSale {
    padding: 100px 0 100px 100px;
  }
    .winterSale .left-part img {
        width: 300px;
        height: 300px;
     
      }
    .winterSale .right-part {
        display: flex;
        flex-direction: column;
        gap: 13px;
      }
    .winterSale .right-part h2 {
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 3px;
    }
    .winterSale .right-part h2::first-letter,
    span::first-letter {
      font-size: 60px;
    }
  }

  @media (max-width: 1120px) {
    
.winterSale .left-part img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px 2px #bcbaba;
  }


    .winterSale .right-part {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    .winterSale .right-part h2 {
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 2.5px;
    }
    .winterSale .right-part h2::first-letter,
    span::first-letter {
      font-size: 55px;
    }
  }

  @media (max-width: 930px) {
    .winterSale{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .winterSale .left-part{
        display: none;
    }
      .winterSale .right-part .responsive{
        display: block;
  
      }
      .winterSale .right-part .responsive img{
        width: 280px;
        height: 280px;
        border-radius: 50%;
        box-shadow: 4px 4px 5px 2px #bcbaba;
      }

    .winterSale .right-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
      }
    .winterSale .right-part h2 {
      font-size: 45px;
      line-height: 50px;
      letter-spacing: 2px;
    }
    .winterSale .right-part h2::first-letter,
    span::first-letter {
      font-size: 45px;
    }
  }

  @media (max-width: 830px) {
    .winterSale {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 100px 0 50px 50px;
}
    .winterSale .left-part .responsive img {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        box-shadow: 4px 4px 5px 2px #bcbaba;
      }


    .winterSale .right-part {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    .winterSale .right-part h2 {
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 2px;
    }
    .winterSale .right-part h2::first-letter,
    span::first-letter {
      font-size: 35px;
    }
  }


  /* PRODUCTS */

  .products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .products h2{
    font-size: 40px;
  }

  .products .buttons{
    display: flex;
    gap: 70px;
  }

  .products .buttons a{
    border:2px solid #ff523b;
    font-size: 18px;
    background: #fff;
    color: black;
    padding: 7px 15px;
    transition: 0.7s;
  }

  .products .buttons a:hover{
    background: #ff523b;
    color: whitesmoke;
  }

 .displayProducts .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .displayProducts{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px;
  }
  .displayProducts .card .image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .displayProducts .card  .image img{
    width: 200px;
    height: 250px;
    background: #EBF1F0;
  }

  .displayProducts .card .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

.displayProducts .card h2{
    font-size: 17px;
}

.displayProducts .card p{
    font-size: 15px;
}

.displayProducts .card a{
    color: #ff523b
}

@media(max-width:1230px){
    .displayProducts .card p{
        font-size: 14px;
    }
    .displayProducts{
        width: 60%;
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 30px;
      }
}

@media(max-width:800px){
  .products{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .products .buttons{
    display: flex;
    gap: 40px;
  }
    .displayProducts .card p{
        font-size: 14px;
    }
    .displayProducts{
        width: 60%;
        display: grid;
        grid-template-columns:repeat(1,1fr);
        gap: 30px;
      }
}

@media(max-width:550px){
    .products .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
    
      .products .buttons a{
        border:2px solid #ff523b;
        font-size: 18px;
        background: #fff;
        color: black;
        padding: 7px 15px;
        transition: 0.7s;
      }
    
}

/* CLIENT'S */

.clients{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding: 100px 80px;
}
.clients .displayClient{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.clients .displayClient .client1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clients .displayClient .client1 img{
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

.clients h2{
    font-size: 40px;
    color: #ff523b;
}

.clients .displayClient .client1 h3{
    font-size: 20px;
    padding-bottom: 30px;
}
.clients .displayClient .client1 p{
    font-size: 14px;
}

@media(max-width:1000px){
  .clients{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px 80px;
}
    .clients .displayClient .client1 img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
     }
     .clients .displayClient .client1 h3{
        font-size: 16px;
        padding-bottom: 25px;
    }
    .clients .displayClient .client1 p{
        font-size: 11px;
    }
}

@media(max-width:700px){
  .clients{ 
    display: flex;
    flex-direction: column; 
    gap: 30px;
    padding: 30px 80px;
}
    .clients .displayClient{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .clients .displayClient .client1 img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
     }
     .clients .displayClient .client1 h3{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .clients .displayClient .client1 p{
        font-size: 11px;
    }
}

/* FOOTER */

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 70px 0px 20px;
}

.footer .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.footer .cards h3{
    padding-bottom: 35px;
}

/* .footer .cards .purpose p{
    font-size: 12px;
} */


.footer .download img{
    width: 10%;
}

.footer .copyrights{
    width: 80%;
}
.footer .copyrights p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media(max-width:1280px){
    .footer .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }
    .footer .cards h3{
      padding-bottom: 30px;
  }
}

@media(max-width:980px){
    .footer .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    .footer .cards h3{
      padding-bottom: 25px;
  }
}
@media(max-width:780px){
    .footer .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .footer .cards h3{
      padding-bottom: 20px;
  }
}
@media(max-width:660px){
    .footer .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .footer .cards h3{
      padding-bottom: 15px;
  }
}